In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
adp = pd.read_csv('datasets/ADP.csv')
stats = pd.read_csv('datasets/allstats.csv')

In [5]:
stats.dtypes

Unnamed: 0                int64
Player                   object
Pos                      object
Age                     float64
Rk                        int64
Date             datetime64[ns]
Tm                       object
Opp                      object
Result                   object
G#                        int64
Week                      int64
Day                      object
Cmp                       int64
PassingAtt                int64
Cmp%                    float64
PassingYds                int64
PassingTD                 int64
Int                       int64
Rate                    float64
Sk                        int64
Yds.1                     int64
Y/PassingAtt            float64
AY/A                    float64
Home T/F                 object
Tgt                       int64
Rec                       int64
ReceivingYds              int64
Y/R                     float64
ReceivingTD               int64
Ctch%                    object
Y/Tgt                   float64
RushingAtt                int64
RushingYds                int64
Y/A                     float64
RushingTD                 int64
FantasyPoints           float64
dtype: object

In [4]:
stats['Date'] = stats['Date'].astype(str)
stats['Date'] = pd.to_datetime(stats["Date"], yearfirst = True)
stats

,Unnamed: 0,Player,Pos,Age,Rk,Date,Tm,Opp,Result,G#,...,ReceivingYds,Y/R,ReceivingTD,Ctch%,Y/Tgt,RushingAtt,RushingYds,Y/A,RushingTD,FantasyPoints
0,0,Mike Tomczak,QB,36.324,1,1999-09-12,PIT,CLE,W 43-0,1,...,0,0.0,0,0,0.0,0,0,0.00,0,11.12
1,1,Tom Tupa,QB/P,33.218,2,1999-09-12,NYJ,NWE,L 28-30,1,...,0,0.0,0,0,0.0,0,0,0.00,0,14.60
2,2,Dan Marino*,QB,37.363,3,1999-09-13,MIA,DEN,W 38-21,1,...,0,0.0,0,0,0.0,0,0,0.00,0,16.60
3,3,Brad Johnson,QB,30.364,4,1999-09-12,WAS,DAL,L 35-41,1,...,0,0.0,0,0,0.0,0,0,0.00,0,23.28
4,4,Steve McNair,QB,26.210,5,1999-09-12,TEN,CIN,W 36-35,1,...,0,0.0,0,0,0.0,0,0,0.00,0,23.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84449,84449,Alex Erickson,WR,27.053,96,2019-12-29,CIN,CLE,W 33-23,16,...,0,0.0,0,0,0.0,1,5,5.00,0,0.50
84450,84450,Will Grier,QB,24.270,97,2019-12-29,CAR,NOR,L 10-42,16,...,0,0.0,0,0,0.0,3,5,1.67,0,0.50
84451,84451,Buddy Howell,RB,23.277,98,2019-12-29,HOU,TEN,L 14-35,16,...,0,0.0,0,0,0.0,3,5,1.67,0,0.50
84452,84452,Philip Rivers,QB,38.021,99,2019-12-29,LAC,KAN,L 21-31,16,...,0,0.0,0,0,0.0,1,5,5.00,0,0.50
84453,84453,Wendell Smallwood,RB,25.334,100,2019-12-29,WAS,DAL,L 16-47,16,...,0,0.0,0,0,0.0,3,5,1.67,0,0.50

In [7]:
stats['Year'] = pd.DatetimeIndex(stats['Date']).year
stats.dtypes

Unnamed: 0                int64
Player                   object
Pos                      object
Age                     float64
Rk                        int64
Date             datetime64[ns]
Tm                       object
Opp                      object
Result                   object
G#                        int64
Week                      int64
Day                      object
Cmp                       int64
PassingAtt                int64
Cmp%                    float64
PassingYds                int64
PassingTD                 int64
Int                       int64
Rate                    float64
Sk                        int64
Yds.1                     int64
Y/PassingAtt            float64
AY/A                    float64
Home T/F                 object
Tgt                       int64
Rec                       int64
ReceivingYds              int64
Y/R                     float64
ReceivingTD               int64
Ctch%                    object
Y/Tgt                   float64
RushingAtt                int64
RushingYds                int64
Y/A                     float64
RushingTD                 int64
FantasyPoints           float64
Year                      int64
dtype: object

In [8]:
yearmask = stats['Year'] == 2019
df = stats[yearmask].copy()
df.head()

,Unnamed: 0,Player,Pos,Age,Rk,Date,Tm,Opp,Result,G#,...,Y/R,ReceivingTD,Ctch%,Y/Tgt,RushingAtt,RushingYds,Y/A,RushingTD,FantasyPoints,Year
80443,80443,Lamar Jackson,QB,22.244,1,2019-09-08,BAL,MIA,W 59-10,1,...,0.0,0,0,0.0,0,0,0.0,0,32.96,2019
80444,80444,Dak Prescott,QB,26.041,2,2019-09-08,DAL,NYG,W 35-17,1,...,0.0,0,0,0.0,0,0,0.0,0,32.20,2019
80445,80445,Robert Griffin,QB,29.208,3,2019-09-08,BAL,MIA,W 59-10,1,...,0.0,0,0,0.0,0,0,0.0,0,6.20,2019
80446,80446,Patrick Mahomes,QB,23.356,4,2019-09-08,KAN,JAX,W 40-26,1,...,0.0,0,0,0.0,0,0,0.0,0,27.12,2019
80447,80447,Kirk Cousins,QB,31.020,5,2019-09-08,MIN,ATL,W 28-12,1,...,0.0,0,0,0.0,0,0,0.0,0,7.92,2019

In [9]:
table = pd.pivot_table(df, values = 'FantasyPoints', index = ['Player'], columns = ['Week'])
table

Week,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
Player,,,,,,,,,,,,,,,,,
A.J. Brown,11.50,NaN,NaN,22.90,3.70,NaN,9.40,NaN,10.10,NaN,NaN,21.50,6.00,15.55,21.40,7.40,20.40
A.J. McCarron,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,8.45
Aaron Jones,3.90,11.50,13.9,7.40,22.85,4.70,8.15,19.05,3.00,27.30,NaN,3.80,1.80,14.10,17.10,27.40,7.65
Aaron Rodgers,6.46,16.36,13.4,13.74,9.52,9.16,21.88,13.55,5.47,5.01,NaN,4.73,14.06,6.70,7.21,6.64,18.92
Adam Humphries,NaN,NaN,12.3,NaN,5.00,7.70,6.00,3.90,8.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zach Ertz,7.90,11.20,8.4,10.00,14.20,7.40,4.80,NaN,20.80,NaN,13.9,21.10,NaN,25.60,14.60,NaN,NaN
Zach Line,NaN,NaN,NaN,NaN,NaN,NaN,0.30,0.80,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN
Zach Pascal,NaN,NaN,12.3,9.20,1.20,NaN,12.80,NaN,16.10,3.60,NaN,NaN,14.40,15.90,6.40,NaN,NaN
Zach Zenner,NaN,NaN,NaN,NaN,NaN,NaN,0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zay Jones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.70,0.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
table['STDev'] = table.std(axis = 1)
table

Week,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,STDev
Player,,,,,,,,,,,,,,,,,,
A.J. Brown,11.50,NaN,NaN,22.90,3.70,NaN,9.40,NaN,10.10,NaN,NaN,21.50,6.00,15.55,21.40,7.40,20.40,6.987752
A.J. McCarron,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,8.45,5.975052
Aaron Jones,3.90,11.50,13.9,7.40,22.85,4.70,8.15,19.05,3.00,27.30,NaN,3.80,1.80,14.10,17.10,27.40,7.65,8.559128
Aaron Rodgers,6.46,16.36,13.4,13.74,9.52,9.16,21.88,13.55,5.47,5.01,NaN,4.73,14.06,6.70,7.21,6.64,18.92,5.305050
Adam Humphries,NaN,NaN,12.3,NaN,5.00,7.70,6.00,3.90,8.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.003775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zach Ertz,7.90,11.20,8.4,10.00,14.20,7.40,4.80,NaN,20.80,NaN,13.9,21.10,NaN,25.60,14.60,NaN,NaN,6.372972
Zach Line,NaN,NaN,NaN,NaN,NaN,NaN,0.30,0.80,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,0.251661
Zach Pascal,NaN,NaN,12.3,9.20,1.20,NaN,12.80,NaN,16.10,3.60,NaN,NaN,14.40,15.90,6.40,NaN,NaN,5.432643
Zach Zenner,NaN,NaN,NaN,NaN,NaN,NaN,0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zay Jones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.70,0.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.404163

In [31]:
table.reset_index(inplace = True)
table

Week,level_0,index,Player,1,2,3,4,5,6,7,...,9,10,11,12,13,14,15,16,17,STDev
0,0,0,A.J. Brown,11.50,NaN,NaN,22.90,3.70,NaN,9.40,...,10.10,NaN,NaN,21.50,6.00,15.55,21.40,7.40,20.40,6.987752
1,1,1,A.J. McCarron,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,8.45,5.975052
2,2,2,Aaron Jones,3.90,11.50,13.9,7.40,22.85,4.70,8.15,...,3.00,27.30,NaN,3.80,1.80,14.10,17.10,27.40,7.65,8.559128
3,3,3,Aaron Rodgers,6.46,16.36,13.4,13.74,9.52,9.16,21.88,...,5.47,5.01,NaN,4.73,14.06,6.70,7.21,6.64,18.92,5.305050
4,4,4,Adam Humphries,NaN,NaN,12.3,NaN,5.00,7.70,6.00,...,8.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.003775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,487,487,Zach Ertz,7.90,11.20,8.4,10.00,14.20,7.40,4.80,...,20.80,NaN,13.9,21.10,NaN,25.60,14.60,NaN,NaN,6.372972
488,488,488,Zach Line,NaN,NaN,NaN,NaN,NaN,NaN,0.30,...,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,0.251661
489,489,489,Zach Pascal,NaN,NaN,12.3,9.20,1.20,NaN,12.80,...,16.10,3.60,NaN,NaN,14.40,15.90,6.40,NaN,NaN,5.432643
490,490,490,Zach Zenner,NaN,NaN,NaN,NaN,NaN,NaN,0.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,491,491,Zay Jones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.404163

In [32]:
table.drop(['index', 'level_0'], axis = 1, inplace = True)
table

Week,Player,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,STDev
0,A.J. Brown,11.50,NaN,NaN,22.90,3.70,NaN,9.40,NaN,10.10,NaN,NaN,21.50,6.00,15.55,21.40,7.40,20.40,6.987752
1,A.J. McCarron,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,8.45,5.975052
2,Aaron Jones,3.90,11.50,13.9,7.40,22.85,4.70,8.15,19.05,3.00,27.30,NaN,3.80,1.80,14.10,17.10,27.40,7.65,8.559128
3,Aaron Rodgers,6.46,16.36,13.4,13.74,9.52,9.16,21.88,13.55,5.47,5.01,NaN,4.73,14.06,6.70,7.21,6.64,18.92,5.305050
4,Adam Humphries,NaN,NaN,12.3,NaN,5.00,7.70,6.00,3.90,8.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.003775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,Zach Ertz,7.90,11.20,8.4,10.00,14.20,7.40,4.80,NaN,20.80,NaN,13.9,21.10,NaN,25.60,14.60,NaN,NaN,6.372972
488,Zach Line,NaN,NaN,NaN,NaN,NaN,NaN,0.30,0.80,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,0.251661
489,Zach Pascal,NaN,NaN,12.3,9.20,1.20,NaN,12.80,NaN,16.10,3.60,NaN,NaN,14.40,15.90,6.40,NaN,NaN,5.432643
490,Zach Zenner,NaN,NaN,NaN,NaN,NaN,NaN,0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,Zay Jones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.70,0.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.404163

In [16]:
adp.drop(['Unnamed: 0'], axis = 1, inplace = True)
adp['Player Team (Bye)'] =adp['Player Team (Bye)'].astype(str)
adp['Player'] =adp['Player Team (Bye)'].apply(lambda x: x.split(' ')[:2]).apply(' '.join)
adp.head()

,Rank,Player Team (Bye),POS,Yahoo,FFC,Fantrax,AVG,Player
0,1,Saquon Barkley NYG (11),RB1,1.0,1.0,1,1.0,Saquon Barkley
1,2,Alvin Kamara NO (9),RB2,2.0,2.0,3,2.3,Alvin Kamara
2,3,Christian McCaffrey CAR (7),RB3,3.0,3.0,2,2.7,Christian McCaffrey
3,4,Ezekiel Elliott DAL (8),RB4,4.0,4.0,4,4.0,Ezekiel Elliott
4,5,David Johnson HOU (10),RB5,6.0,7.0,5,6.0,David Johnson

In [20]:
adp.drop(['Player Team (Bye)', 'Rank'], axis = 1, inplace = True)
adp.head()

   POS  Yahoo  FFC  Fantrax  AVG               Player
0  RB1    1.0  1.0        1  1.0       Saquon Barkley
1  RB2    2.0  2.0        3  2.3         Alvin Kamara
2  RB3    3.0  3.0        2  2.7  Christian McCaffrey
3  RB4    4.0  4.0        4  4.0      Ezekiel Elliott
4  RB5    6.0  7.0        5  6.0        David Johnson

In [33]:
master = adp.merge(table[['Player', 'STDev']], on = 'Player', )
master

       POS  Yahoo  FFC  Fantrax    AVG               Player     STDev
0      RB1    1.0  1.0        1    1.0       Saquon Barkley  5.877576
1      RB2    2.0  2.0        3    2.3         Alvin Kamara  4.263949
2      RB3    3.0  3.0        2    2.7  Christian McCaffrey  5.147444
3      RB4    4.0  4.0        4    4.0      Ezekiel Elliott  4.462693
4      RB5    6.0  7.0        5    6.0        David Johnson  4.574445
..     ...    ...  ...      ...    ...                  ...       ...
308   TE52    NaN  NaN      452  452.0         Charles Clay  3.912800
309   TE53    NaN  NaN      454  454.0          Tyler Kroft       NaN
310   TE54    NaN  NaN      456  456.0          Jonnu Smith  5.756759
311  WR158    NaN  NaN      457  457.0        Justin Watson  1.131371
312   TE55    NaN  NaN      458  458.0        Foster Moreau       NaN

[313 rows x 7 columns]