In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('datasets/allstats.csv')

In [3]:
df.head()

,Unnamed: 0,Player,Pos,Age,Rk,Date,Tm,Opp,Result,G#,...,ReceivingYds,Y/R,ReceivingTD,Ctch%,Y/Tgt,RushingAtt,RushingYds,Y/A,RushingTD,FantasyPoints
0,0,Mike Tomczak,QB,36.324,1,1999-09-12,PIT,CLE,W 43-0,1,...,0,0.0,0,0,0.0,0,0,0.0,0,11.12
1,1,Tom Tupa,QB/P,33.218,2,1999-09-12,NYJ,NWE,L 28-30,1,...,0,0.0,0,0,0.0,0,0,0.0,0,14.60
2,2,Dan Marino*,QB,37.363,3,1999-09-13,MIA,DEN,W 38-21,1,...,0,0.0,0,0,0.0,0,0,0.0,0,16.60
3,3,Brad Johnson,QB,30.364,4,1999-09-12,WAS,DAL,L 35-41,1,...,0,0.0,0,0,0.0,0,0,0.0,0,23.28
4,4,Steve McNair,QB,26.210,5,1999-09-12,TEN,CIN,W 36-35,1,...,0,0.0,0,0,0.0,0,0,0.0,0,23.64

In [9]:
df.dtypes

Player                   object
Pos                      object
Age                     float64
Rk                        int64
Date             datetime64[ns]
Tm                       object
Opp                      object
Result                   object
G#                        int64
Week                      int64
Day                      object
Cmp                       int64
PassingAtt                int64
Cmp%                    float64
PassingYds                int64
PassingTD                 int64
Int                       int64
Rate                    float64
Sk                        int64
Yds.1                     int64
Y/PassingAtt            float64
AY/A                    float64
Home T/F                 object
Tgt                       int64
Rec                       int64
ReceivingYds              int64
Y/R                     float64
ReceivingTD               int64
Ctch%                    object
Y/Tgt                   float64
RushingAtt                int64
RushingYds                int64
Y/A                     float64
RushingTD                 int64
FantasyPoints           float64
Year                      int64
dtype: object

In [5]:
df['Date'] = df['Date'].astype(str)
df['Date'] = pd.to_datetime(df['Date'], yearfirst = True)

In [6]:
df['Year'] = pd.DatetimeIndex(df['Date']).year

In [8]:
df['Player'] = df['Player'].astype(str)
df.drop(['Unnamed: 0'], axis = 1, inplace = True)

KeyError: "['Unnamed: 0'] not found in axis"

In [10]:
df.head()

,Player,Pos,Age,Rk,Date,Tm,Opp,Result,G#,Week,...,Y/R,ReceivingTD,Ctch%,Y/Tgt,RushingAtt,RushingYds,Y/A,RushingTD,FantasyPoints,Year
0,Mike Tomczak,QB,36.324,1,1999-09-12,PIT,CLE,W 43-0,1,1,...,0.0,0,0,0.0,0,0,0.0,0,11.12,1999
1,Tom Tupa,QB/P,33.218,2,1999-09-12,NYJ,NWE,L 28-30,1,1,...,0.0,0,0,0.0,0,0,0.0,0,14.60,1999
2,Dan Marino*,QB,37.363,3,1999-09-13,MIA,DEN,W 38-21,1,1,...,0.0,0,0,0.0,0,0,0.0,0,16.60,1999
3,Brad Johnson,QB,30.364,4,1999-09-12,WAS,DAL,L 35-41,1,1,...,0.0,0,0,0.0,0,0,0.0,0,23.28,1999
4,Steve McNair,QB,26.210,5,1999-09-12,TEN,CIN,W 36-35,1,1,...,0.0,0,0,0.0,0,0,0.0,0,23.64,1999

In [11]:
df.dtypes

Player                   object
Pos                      object
Age                     float64
Rk                        int64
Date             datetime64[ns]
Tm                       object
Opp                      object
Result                   object
G#                        int64
Week                      int64
Day                      object
Cmp                       int64
PassingAtt                int64
Cmp%                    float64
PassingYds                int64
PassingTD                 int64
Int                       int64
Rate                    float64
Sk                        int64
Yds.1                     int64
Y/PassingAtt            float64
AY/A                    float64
Home T/F                 object
Tgt                       int64
Rec                       int64
ReceivingYds              int64
Y/R                     float64
ReceivingTD               int64
Ctch%                    object
Y/Tgt                   float64
RushingAtt                int64
RushingYds                int64
Y/A                     float64
RushingTD                 int64
FantasyPoints           float64
Year                      int64
dtype: object

In [12]:
yearmask = df['Year'] == 2019
players = df[yearmask]
players.head()

,Player,Pos,Age,Rk,Date,Tm,Opp,Result,G#,Week,...,Y/R,ReceivingTD,Ctch%,Y/Tgt,RushingAtt,RushingYds,Y/A,RushingTD,FantasyPoints,Year
80443,Lamar Jackson,QB,22.244,1,2019-09-08,BAL,MIA,W 59-10,1,1,...,0.0,0,0,0.0,0,0,0.0,0,32.96,2019
80444,Dak Prescott,QB,26.041,2,2019-09-08,DAL,NYG,W 35-17,1,1,...,0.0,0,0,0.0,0,0,0.0,0,32.20,2019
80445,Robert Griffin,QB,29.208,3,2019-09-08,BAL,MIA,W 59-10,1,1,...,0.0,0,0,0.0,0,0,0.0,0,6.20,2019
80446,Patrick Mahomes,QB,23.356,4,2019-09-08,KAN,JAX,W 40-26,1,1,...,0.0,0,0,0.0,0,0,0.0,0,27.12,2019
80447,Kirk Cousins,QB,31.020,5,2019-09-08,MIN,ATL,W 28-12,1,1,...,0.0,0,0,0.0,0,0,0.0,0,7.92,2019

In [13]:
fantstats = players[['Player','FantasyPoints']].groupby(['Player']).sum()

In [14]:
fantstats.head()

                FantasyPoints
Player
A.J. Brown             172.80
A.J. McCarron           16.90
Aaron Jones            284.30
Aaron Rodgers          280.78
Adam Humphries          43.40

In [15]:
fantstats.sort_values(by=['FantasyPoints'], ascending = False)

                     FantasyPoints
Player
Lamar Jackson               419.68
Christian McCaffrey         388.50
Dak Prescott                339.68
Russell Wilson              330.50
Deshaun Watson              317.48
...                            ...
Garrett Gilbert               0.00
Sam Koch                     -0.08
Johnny Hekker                -0.88
Jarrett Stidham              -1.44
Jake Elliott                 -2.00

[492 rows x 1 columns]

In [16]:
fantstats = fantstats.merge(df[['Player','Pos']], on = 'Player')

In [17]:
fantstats.drop_duplicates(inplace = True)

In [18]:
fantstats.sort_values(by = ['FantasyPoints'], ascending = False)

                    Player  FantasyPoints Pos
12607        Lamar Jackson         419.68  QB
4174   Christian McCaffrey         388.50  RB
4700          Dak Prescott         339.68  QB
17373       Russell Wilson         330.50  QB
6526        Deshaun Watson         317.48  QB
...                    ...            ...  ..
7438       Dustin Colquitt           0.00   P
18161             Sam Koch          -0.08   P
10946        Johnny Hekker          -0.88   P
9894       Jarrett Stidham          -1.44  QB
9143          Jake Elliott          -2.00   K

[571 rows x 3 columns]

In [19]:
from requests import get
from bs4 import BeautifulSoup

In [20]:
url = 'https://www.fantasypros.com/nfl/adp/half-point-ppr-overall.php'
response = get(url)
soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find('table', {'id': 'data'})
df = pd.read_html(str(table))[0]
df.head()

   Rank            Player Team (Bye)  POS  Yahoo  FFC  Fantrax  AVG
0     1      Saquon Barkley NYG (11)  RB1    1.0  1.0        1  1.0
1     2          Alvin Kamara NO (9)  RB2    2.0  2.0        3  2.3
2     3  Christian McCaffrey CAR (7)  RB3    3.0  3.0        2  2.7
3     4      Ezekiel Elliott DAL (8)  RB4    4.0  4.0        4  4.0
4     5       David Johnson HOU (10)  RB5    6.0  7.0        5  6.0

In [21]:
df.dtypes

Rank                   int64
Player Team (Bye)     object
POS                   object
Yahoo                float64
FFC                  float64
Fantrax                int64
AVG                  float64
dtype: object

In [22]:
df['Player Team (Bye)'] = df['Player Team (Bye)'].astype(str)

In [23]:
df['Player'] = df['Player Team (Bye)'].apply(lambda x: x.split(' ')[:2]).apply(' '.join)
df.head()

,Rank,Player Team (Bye),POS,Yahoo,FFC,Fantrax,AVG,Player
0,1,Saquon Barkley NYG (11),RB1,1.0,1.0,1,1.0,Saquon Barkley
1,2,Alvin Kamara NO (9),RB2,2.0,2.0,3,2.3,Alvin Kamara
2,3,Christian McCaffrey CAR (7),RB3,3.0,3.0,2,2.7,Christian McCaffrey
3,4,Ezekiel Elliott DAL (8),RB4,4.0,4.0,4,4.0,Ezekiel Elliott
4,5,David Johnson HOU (10),RB5,6.0,7.0,5,6.0,David Johnson

In [24]:
import re 
  
def remove(list): 
    pattern = '[0-9]'
    list = [re.sub(pattern, '', i) for i in list] 
    return list
  
# Driver code  
  
list = ['4geeks', '3for', '4geeks'] 
print(remove(list))

['geeks', 'for', 'geeks']

In [25]:
import re

In [26]:
df['Position'] = [re.sub('[0-9]', '',i) for i in df['POS']]
df.head()

,Rank,Player Team (Bye),POS,Yahoo,FFC,Fantrax,AVG,Player,Position
0,1,Saquon Barkley NYG (11),RB1,1.0,1.0,1,1.0,Saquon Barkley,RB
1,2,Alvin Kamara NO (9),RB2,2.0,2.0,3,2.3,Alvin Kamara,RB
2,3,Christian McCaffrey CAR (7),RB3,3.0,3.0,2,2.7,Christian McCaffrey,RB
3,4,Ezekiel Elliott DAL (8),RB4,4.0,4.0,4,4.0,Ezekiel Elliott,RB
4,5,David Johnson HOU (10),RB5,6.0,7.0,5,6.0,David Johnson,RB

In [27]:
print(df['Position'].value_counts())
print(df.shape)

WR     158
RB     121
TE      55
QB      54
K       36
DST     31
         1
Name: Position, dtype: int64
(456, 9)

In [42]:
master = fantstats.merge(df[['Player', 'Rank', 'Position', 'AVG']], on = 'Player' )
master.sort_values(by = ['AVG'], inplace = True)
master.drop_duplicates(subset ="Player", keep = False, inplace = True)
no_k = master['Position'] != 'K'
master = master[no_k]
master = master[:200]
master.head(10)
#master.tail()

                  Player  FantasyPoints Pos  Rank Position   AVG
317       Saquon Barkley          196.2  RB     1       RB   1.0
59   Christian McCaffrey          388.5  RB     3       RB   2.7
136      Ezekiel Elliott          270.4  RB     4       RB   4.0
91         Davante Adams          171.2  WR     7       WR   7.0
166         James Conner          112.4  RB     8       RB   8.0
237         Le'Veon Bell          167.4  RB     9       RB   8.7
276           Nick Chubb          220.4  RB    10       RB  10.0
207          Julio Jones          212.9  WR    12       WR  11.3
263       Michael Thomas          301.0  WR    11       WR  11.3
282        Odell Beckham          163.8  WR    13       WR  13.7

In [43]:
master['Position'].value_counts()

WR    82
RB    64
QB    30
TE    24
Name: Position, dtype: int64

In [44]:
pos = ['RB', 'WR', 'QB', 'TE']
for pos in pos:
    posmask = master['Position'].str.contains(pos)
    if pos == 'RB':
        RBdata = master[posmask]
        RBdata.name = '{pos}'.format(pos = pos)
    elif pos == 'WR':
        WRdata = master[posmask]
        WRdata.name = '{pos}'.format(pos = pos)
    elif pos == 'QB':
        QBdata = master[posmask]
        QBdata.name = '{pos}'.format(pos = pos)
    elif pos == 'TE':
        TEdata = master[posmask]
        TEdata.name = '{pos}'.format(pos = pos)

In [45]:
RBdata

                  Player  FantasyPoints Pos  Rank Position    AVG
317       Saquon Barkley          196.2  RB     1       RB    1.0
59   Christian McCaffrey          388.5  RB     3       RB    2.7
136      Ezekiel Elliott          270.4  RB     4       RB    4.0
166         James Conner          112.4  RB     8       RB    8.0
237         Le'Veon Bell          167.4  RB     9       RB    8.7
..                   ...            ...  ..   ...      ...    ...
122      Dexter Williams            1.1  RB   260       RB  246.0
292       Qadree Ollison           16.0  RB   265       RB  255.0
182            Jay Ajayi            2.5  RB   269       RB  262.0
27           Benny Snell           54.5  RB   280       RB  274.0
273         Myles Gaskin           22.7  RB   297       RB  291.0

[64 rows x 6 columns]

In [72]:
Tables = [RBdata, WRdata, QBdata, TEdata]
for table in Tables:
    avg = table['FantasyPoints'].mean()
    table['Rank'] = np.arange(1,len(table)+1).astype(float)
    table['VOA'] = ((table['FantasyPoints'])/ avg) 
    table['PosValue'] = (table['VOA'])/((len(table)+1-table['Rank'])/(len(table)))
RBdata

,Player,FantasyPoints,Pos,Rank,Position,AVG,VOA,Value,PosValue
317,Saquon Barkley,196.2,RB,1.0,RB,1.0,1.905028,1.905028,1.905028
59,Christian McCaffrey,388.5,RB,2.0,RB,2.7,3.772188,3.832064,3.832064
136,Ezekiel Elliott,270.4,RB,3.0,RB,4.0,2.625482,2.710175,2.710175
166,James Conner,112.4,RB,4.0,RB,8.0,1.091361,1.145035,1.145035
237,Le'Veon Bell,167.4,RB,5.0,RB,8.7,1.625391,1.733750,1.733750
...,...,...,...,...,...,...,...,...,...
122,Dexter Williams,1.1,RB,60.0,RB,246.0,0.010681,0.136711,0.136711
292,Qadree Ollison,16.0,RB,61.0,RB,255.0,0.155354,2.485663,2.485663
182,Jay Ajayi,2.5,RB,62.0,RB,262.0,0.024274,0.517846,0.517846
27,Benny Snell,54.5,RB,63.0,RB,274.0,0.529174,16.933580,16.933580
273,Myles Gaskin,22.7,RB,64.0,RB,291.0,0.220408,14.106138,14.106138

In [78]:
master = pd.concat(Tables, join = 'outer', ignore_index = False, sort = False)
master

,Player,FantasyPoints,Pos,Rank,Position,AVG,VOA,Value,PosValue
317,Saquon Barkley,196.2,RB,1.0,RB,1.0,1.905028,1.905028,1.905028
59,Christian McCaffrey,388.5,RB,2.0,RB,2.7,3.772188,3.832064,3.832064
136,Ezekiel Elliott,270.4,RB,3.0,RB,4.0,2.625482,2.710175,2.710175
166,James Conner,112.4,RB,4.0,RB,8.0,1.091361,1.145035,1.145035
237,Le'Veon Bell,167.4,RB,5.0,RB,8.7,1.625391,1.733750,1.733750
...,...,...,...,...,...,...,...,...,...
268,Mike Gesicki,97.5,TE,20.0,TE,237.0,1.117852,5.365691,5.365691
257,Matt LaCosse,4.3,TE,21.0,TE,242.0,0.049300,0.295801,0.295801
154,Ian Thomas,14.2,TE,22.0,TE,269.0,0.162805,1.302441,1.302441
142,Gerald Everett,57.1,TE,23.0,TE,278.0,0.654660,7.855921,7.855921
302,Ricky Seals-Jones,44.3,TE,24.0,TE,309.0,0.507906,12.189748,12.189748

In [79]:
master.set_index(np.arange(0,len(master)), inplace = True)
master['Value'] = (master['VOA'])/((len(master)+1-master.index)/len(master))

master

,Player,FantasyPoints,Pos,Rank,Position,AVG,VOA,Value,PosValue
0,Saquon Barkley,196.2,RB,1.0,RB,1.0,1.905028,1.895550,1.905028
1,Christian McCaffrey,388.5,RB,2.0,RB,2.7,3.772188,3.772188,3.832064
2,Ezekiel Elliott,270.4,RB,3.0,RB,4.0,2.625482,2.638675,2.710175
3,James Conner,112.4,RB,4.0,RB,8.0,1.091361,1.102385,1.145035
4,Le'Veon Bell,167.4,RB,5.0,RB,8.7,1.625391,1.650143,1.733750
...,...,...,...,...,...,...,...,...,...
195,Mike Gesicki,97.5,TE,20.0,TE,237.0,1.117852,37.261740,5.365691
196,Matt LaCosse,4.3,TE,21.0,TE,242.0,0.049300,1.972006,0.295801
197,Ian Thomas,14.2,TE,22.0,TE,269.0,0.162805,8.140257,1.302441
198,Gerald Everett,57.1,TE,23.0,TE,278.0,0.654660,43.644007,7.855921
199,Ricky Seals-Jones,44.3,TE,24.0,TE,309.0,0.507906,50.790618,12.189748

# Everything below here is another method of doing this analysis where I break down each position into its own table. This is flawed becayse it doesn't account for every position#

In [34]:
pos = ['RB', 'WR', 'QB', 'TE']
for pos in pos:
    posmask = master['POS'].str.contains(pos)
    if pos == 'RB':
        RBdata = master[posmask]
        RBdata.name = '{pos}'.format(pos = pos)
    elif pos == 'WR':
        WRdata = master[posmask]
        WRdata.name = '{pos}'.format(pos = pos)
    elif pos == 'QB':
        QBdata = master[posmask]
        QBdata.name = '{pos}'.format(pos = pos)
    elif pos == 'TE':
        TEdata = master[posmask]
        TEdata.name = '{pos}'.format(pos = pos)

KeyError: 'POS'

In [35]:
Tables = [RBdata, WRdata, QBdata, TEdata]
for table in Tables:
    table.drop_duplicates(subset ="Player", keep = False, inplace = True) 
    table.sort_values(by = ['AVG'], ascending = True, inplace = True)
    avg = table['FantasyPoints'].mean()
    table['VOA'] = ((table['FantasyPoints'])/ avg)

In [36]:
master = pd.concat(Tables, join = 'outer', ignore_index = False, sort = False)

In [37]:
master

                  Player  FantasyPoints Pos  Rank Position    AVG       VOA
317       Saquon Barkley          196.2  RB     1       RB    1.0  1.905028
59   Christian McCaffrey          388.5  RB     3       RB    2.7  3.772188
136      Ezekiel Elliott          270.4  RB     4       RB    4.0  2.625482
166         James Conner          112.4  RB     8       RB    8.0  1.091361
237         Le'Veon Bell          167.4  RB     9       RB    8.7  1.625391
..                   ...            ...  ..   ...      ...    ...       ...
268         Mike Gesicki           97.5  TE   253       TE  237.0  1.117852
257         Matt LaCosse            4.3  TE   258       TE  242.0  0.049300
154           Ian Thomas           14.2  TE   275       TE  269.0  0.162805
142       Gerald Everett           57.1  TE   284       TE  278.0  0.654660
302    Ricky Seals-Jones           44.3  TE   308       TE  309.0  0.507906

[200 rows x 7 columns]

In [40]:
master

                  Player  FantasyPoints Pos  Rank Position    AVG       VOA
317       Saquon Barkley          196.2  RB     1       RB    1.0  1.905028
59   Christian McCaffrey          388.5  RB     3       RB    2.7  3.772188
136      Ezekiel Elliott          270.4  RB     4       RB    4.0  2.625482
166         James Conner          112.4  RB     8       RB    8.0  1.091361
237         Le'Veon Bell          167.4  RB     9       RB    8.7  1.625391
..                   ...            ...  ..   ...      ...    ...       ...
268         Mike Gesicki           97.5  TE   253       TE  237.0  1.117852
257         Matt LaCosse            4.3  TE   258       TE  242.0  0.049300
154           Ian Thomas           14.2  TE   275       TE  269.0  0.162805
142       Gerald Everett           57.1  TE   284       TE  278.0  0.654660
302    Ricky Seals-Jones           44.3  TE   308       TE  309.0  0.507906

[200 rows x 7 columns]

In [1]:
master['Value'] = master['VOA']/(len(mas))

NameError: name 'master' is not defined